@import "tailwindcss";

@font-face {
  font-family: "Airbnb Cereal";
  src: url("/fonts/AirbnbCereal_W_Bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Colors */
  --color-primary: #4c5fff;
  --color-background: #f8f9fa;
  --color-secondary: #6c757d;
  --color-accent: #ff9800;

  /* Typography */
  --font-heading: "Airbnb Cereal", sans-serif;

  /* Spacing */
  --spacing-xl: 3rem;

  /* Breakpoints */
  --breakpoint-tablet: 768px;
}

body {
  @apply bg-gray-100 text-gray-900 font-sans;
}

.container {
  @apply px-4 tablet:px-0 max-w-xl mx-auto;
}
